
<div>
    <div class="card m-3">
            <div class="card-header">
                <img class="card-img-top" src="" alt="">
                <strong ><p style="text-align:center">ONLINE PURCHASE MANAGEMENT BUSINESS INTELLIGENCE SYSTEM</p></strong>
            </div>
            <div class="card-body">
                <h5 class="card-title">OBJECTIFS</h5>
                <p class="card-text" style="text-decoration: underline;">Systeme existant</p>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eius cum commodi consectetur dolorum quasi inventore quos nemo, quisquam minima, repellat porro unde voluptates excepturi adipisci cumque vitae perferendis mollitia voluptatem tempora! Ratione sint assumenda totam? Qui error repellendus nihil ipsam rem facere eligendi suscipit iure maxime doloribus laudantium, aliquam, debitis voluptas! Dolores commodi quo, illo perspiciatis molestiae, sunt praesentium a perferendis officiis nisi, itaque cupiditate dignissimos error consequuntur inventore rem nesciunt voluptate delectus! Nihil provident assumenda atque magni eos commodi saepe veritatis sunt at minus! Culpa reiciendis odio officia harum vero rem, accusamus eaque? Reiciendis animi nam possimus corporis?</p>
                </div>

                <p class="card-text" style="text-decoration: underline;">Systeme envisagé</p>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eius cum commodi consectetur dolorum quasi inventore quos nemo, quisquam minima, repellat porro unde voluptates excepturi adipisci cumque vitae perferendis mollitia voluptatem tempora! Ratione sint assumenda totam? Qui error repellendus nihil ipsam rem facere eligendi suscipit iure maxime doloribus laudantium, aliquam, debitis voluptas! Dolores commodi quo, illo perspiciatis molestiae, sunt praesentium a perferendis officiis nisi, itaque cupiditate dignissimos error consequuntur inventore rem nesciunt voluptate delectus! Nihil provident assumenda atque magni eos commodi saepe veritatis sunt at minus! Culpa reiciendis odio officia harum vero rem, accusamus eaque? Reiciendis animi nam possimus corporis?</p>
                </div>
                <div>
                    <button class="btn btn-success">voir plus</button>
                </div>
            </div>
            
        </div>
</div>
